<article class="container about">
    <section class="index">
        <h1>Hakkında</h1>
        <p class="lead">
            Ruby programlama dili ile ilgili Türkçe püf noktaları.
        </p>
        <p>
            Eğer siz de katkıda bulunmak isterseniz, ki bu hepimize çok 
            faydalı olur, lütfen <a href="http://twitter.com/ruby_tips_tr">@ruby_tips_tr</a>
            adresine tweet gönderin ya da <a href="https://github.com/gelistiriciyiz-biz/ruby.gelistiriciyiz.biz">repo</a>&rsquo;yu fork edip PR yapın!
        </p>
    </section>
    <section class="index">
        <h3>Lisans</h3>
        <ul>
            <li>Bu sitedeki yazıları gönül rahatlığıyla kullanabilirsiniz.</li>
            <li>Bu sitedeki bilgiler, kendi araştırmalarım, başka internet siteleri ve ilgili kitaplardan derlenmiştir.</li>
        </ul>
    </section>
</article>
